[user]
	name = Elias Brange
	email = elias.brange@axis.com
	signingKey = 61F0F04F2F1BF231DFEC9290BB060A3D37A91786
[color]
	ui = always
	diff = always
[core]
	editor = /usr/bin/vim
	filemode = false
	autocrlf = false
	preloadindex = true
	fscache = true
[merge]
	conflictstyle = diff3
[push]
	default = simple
[commit]
	gpgSign = true
