[user]
	name = Elias Brange
	email = elias.brange@lundalogik.se
[color]
	ui = always
	diff = always
[core]
	editor = /usr/bin/vim
	filemode = false
	autocrlf = false
	preloadindex = true
	fscache = true
[merge]
	conflictstyle = diff3
[push]
	default = simple
