# Python
venv
.ipython
pip
.pip
.codeintel

# vim
.vim/bundle
.viminfo

# zsh
.oh-my-zsh
.zsh-update
.zsh_history
.zcompdump*

# Other
.ssh
.cache
.z*

# Symlinks
downloads
src
sublime
